<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Liste des voitures</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let record of records" (click)="openRecord(record)">
        <ion-card>

          <ion-card-header>
            <ion-card-title class="title">{{record.marque}}</ion-card-title>
            <ion-card-subtitle  color="secondary" >{{record.plaque}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="content">
            {{record.model}}
          </ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="6" *ngFor="let image of imageUrls">
                <ion-img [src]="image"></ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal  #modal [initialBreakpoint]="0.5" [breakpoints]="[0, 0.25, 0.5, 0.75]" trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Add Record</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Save</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        
              
        <ion-item>
          <ion-label position="stacked">Marque</ion-label>
          <ion-input type="text" placeholder="Enter the car's marque" [(ngModel)]="marque"></ion-input>
        </ion-item>

        
        <ion-item>
          <ion-label position="stacked">Modèle</ion-label>
          <ion-input type="text" placeholder="Enter the car's model" [(ngModel)]="modele"></ion-input>
        </ion-item>

        
        <ion-item>
          <ion-label position="stacked">Plaque d’immatriculation</ion-label>
          <ion-input type="text" placeholder="Enter the car's registration number" [(ngModel)]="plaque"></ion-input>
        </ion-item>

       
        <ion-item>
          <ion-label position="stacked">Take picture of The front</ion-label>
          <ion-button expand="block" (click)="takePicture()">Take Picture
            <ion-icon name="camera"></ion-icon>
          </ion-button>
          <!-- <div class="flex">
            <div class="img-box">
              <img src="image">
            </div>
          </div> -->
        </ion-item>

        <!-- <ion-item>
          <ion-label position="stacked">Take picture of the back</ion-label>
          <ion-button expand="block" (click)="takePicture()">Take Picture</ion-button>
          <div *ngIf="this.picture">
            <img src="{{this.picture}}">
          </div>
        </ion-item> -->

      
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">
    <ion-fab-button id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
